/* General styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

/* Navbar styles */
.navbar {
    background-color: #333 !important; /* Dark background color for visibility */
}

.navbar .navbar-brand {
    color: white !important;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: white !important;
    font-size: 1.1rem;
    padding: 10px 15px;
}

.navbar-nav .nav-link:hover {
    background-color: #fbb03b;
    color: white !important;
}

.navbar-toggler-icon {
    background-color: white;
}

/* Hero section */
.hero-section {
    background-color: #fff;
    padding: 100px 0;
    border-bottom: 2px solid #f1f1f1;
}

.hero-section h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
}

.hero-section h2 {
    font-size: 3rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 1.25rem;
    color: #666;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #fbb03b;
    color: white;
    border: none;
    font-size: 1.2rem;
    padding: 12px 30px;
    border-radius: 50px;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #e89c33;
}

.hero-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero-section h2 {
        font-size: 2.5rem;
    }

    .hero-section p {
        font-size: 1.1rem;
    }

    .btn-primary {
        font-size: 1.1rem;
        padding: 10px 25px;
    }
}
